@import "tailwindcss";

/* Aumenta especificidade para sobrescrever estilos do Photo Sphere Viewer */
div .psv-tooltip,
.psv-container .psv-tooltip {
  background: #222;
  color: #fff;
  border-radius: 2px;
  font-size: 1.1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/* Oculta o loading original do PhotoSphere */
.psv-loader-container,
.psv-loader,
.psv-loader-image,
.psv-loader-text {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

body {
  margin: 0;
}
